.showcase {
  padding: 8rem 10% 3rem 10%;
  width: 100%;
  margin: 0 auto;

  .categories {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;

    .category {
      max-width: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex: 1;

      .icon {
        height: auto;
        margin-bottom: 1rem;
        color: #c69c6d; // Коричневый цвет для иконок
      }
    }
  }
}
